package views

import "github.com/asdavies/auth/public"

templ hello(name string) {
    <h1>Title</h1>
    <h2>Subtitle</h2>
    <h3>Section Heading</h3>
    <h4>Subsection Heading</h4>
    <h5>Minor Heading</h5>
    <h6>Smallest Heading</h6>
    <p>Paragraph text</p>
    <small>Small text</small>
    <button>Button text</button>

	<p class={public.CSS(ctx, "main.test")}>Hello, { name }</p>
}

templ Index(name string) {
    @hello(name)
}
