package views

import "github.com/asdavies/auth/views/layouts"
import "github.com/asdavies/auth/internal/models"

templ hello(name string) {
	<div>Hello, { name }</div>
}

templ Index(name string) {
    @layouts.Html(models.MetaInfo{}) {
        @hello(name)
    }
}
